<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="DAFile" value="C:\\Users\\Javier\\Documents\\GitHub\\SIA-Proyecto2\\Modulo Contable\\UI\\bin\\Debug\\da2.xml"/>
    <add key="Empresa" value="0"/>
    <add key="Esquema" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=SIA_FINAL;User Id=sa;Password=12345;"/>
    <!-- add name="ConnectionString" connectionString="Data Source=William-PC;Initial Catalog=moduloFinancieroCesar;User Id=sa;Password=soporte;"/> -->
  </connectionStrings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
