<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAFile" value="C://Users//Erick//Documents//GitHub//SIA//Modulo Contable//UI//da2.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source = VIVI\ERICKBRESOL; Initial Catalog = moduloFinanciero; Trusted_Connection = True;"/>
  </connectionStrings>
</configuration>
