<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="DAFile" value="da2.xml"/>
    <add key="Empresa" value="1"/>
    <add key="Esquema" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ServicioWebRestDBConnectionString" connectionString="Data Source=SQL2008YGS;Initial Catalog=ServicioWebRestDB;User ID=sa;Password=Soporte2011"
      providerName="System.Data.SqlClient" />-->
    <add name="PUNTODBEntities" connectionString="metadata=res://*/PuntoDBModel.csdl|res://*/PuntoDBModel.ssdl|res://*/PuntoDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EXPO02;initial catalog=PUNTODB;user id=sa;password=Soporte2009;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.0.105;Initial Catalog=SIA;User Id=sa;Password=12345;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfRestServiceEncuestas.RestService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  kind="webHttpEndpoint" endpointConfiguration="serviceEndPoint"  contract="WcfRestServiceEncuestas.IRestService" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="serviceEndPoint" maxReceivedMessageSize="2048000"  maxBufferSize="2048000" maxBufferPoolSize="0">
          <readerQuotas maxStringContentLength="2048000" maxArrayLength="2048000"  maxDepth ="65000"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
