<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="DAFile" value="da2.xml"/>
    <add key="Empresa" value="0"/>
    <add key="Esquema" value=""/>
  </appSettings>
  <connectionStrings>

	  <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=SIA4;User Id=sa;Password=12345;"/> 
	  <!--add name="ConnectionString" connectionString="Data Source = William-pc; Initial Catalog = moduloFinancieroCesar;User Id=sa;Password=soporte;"/> -->

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IERPAsientos" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsIndicadoresEconomicosSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6968/ERPAsientos.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IERPAsientos" contract="ERPAsientos.IERPAsientos"
        name="BasicHttpBinding_IERPAsientos" />
      <endpoint address="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsIndicadoresEconomicosSoap"
          contract="wsIndicadoresEconomicos.wsIndicadoresEconomicosSoap"
          name="wsIndicadoresEconomicosSoap" />
    </client>
  </system.serviceModel>
</configuration>
