<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAFile" value="da2.xml"/>
    <add key="Empresa" value="0"/>
    <add key="Esquema" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=VIVI\\ERICKBRESOL;Initial Catalog=moduloFinanciero;User Id=sa;Password=sqlsql;"/>
  </connectionStrings>
</configuration>
